<h2><a href="/list/{{library.slug}}/edit">Edit Your Library</a></h2>
<h2>{{title}}</h2>
<section class="form">
<ul>
  {{#library}}
  <li>
  <h3>Title:</h3> {{title}}
  <br>
  <h3>Author:</h3>{{author}}
  <br>
  <h3>Published on:</h3> {{published}}
</li>
{{/library}}
</ul>
<h2><a href="/list/{{library.slug}}/delete">Do you want to delete?</a></h2>
<h2>{{title}}</h2>
<ul>
  {{#library}}
  <li>
    <h3>Title:</h3> {{title}}
  <br>
  <h3>Author:</h3>{{author}}
  <br>
  <h3>Published on:</h3> {{published}}
</li>
{{/library}}
</ul>
</section>
